<style>
  :host {    
    font-family:"Segoe UI", 
                Roboto, 
                Helvetica, 
                Arial, 
                sans-serif;
    font-size: .9em;
    color: rgb(141, 103, 103);
    background-color:greenyellow;
    box-sizing: border-box;    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
  }

 div{
    width:calc(100% - 26px);
    padding: 10px;
    margin:1px; 
    border: 2px solid pink;
    background-color: #0000ff22;
    text-align: center;
    border-radius: 4px;    
 }

  p {
    margin: 0;    
  }
</style>
<div id = "controlPanel">
  Control Panel
  <app-control-panel></app-control-panel>
</div>

<div id = "employeeList" style ="text-align: left; padding: 4px 0px 10px 100px;">  
 <employee-list>employee list</employee-list>
</div>

<div id = "employeeDetails" style ="text-align: left; padding: 4px 0px 10px 100px;">  
  <employee-detail>employee details </employee-detail>
 </div>

<div id = "test"> 
  <h1>
    {{title}}   
  </h1>
  <h2 style="font-size: 1.20em; font-weight: 400;">
    {{message}}
  </h2>
  <app-test (childEvent)="message=$event" [parentData]="name"></app-test>
</div>


<router-outlet></router-outlet>