<style>
  :host {
    font-family: "Segoe UI",
      Roboto,
      Helvetica,
      Arial,
      sans-serif;
    font-size: .9em;
    color: rgb(141, 103, 103);
    background-color: greenyellow;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  div {
    width: calc(100% - 26px);
    padding: 10px;
    margin: auto;
    border: 2px solid pink;
    background-color: #0000ff22;
    text-align: center;
    border-radius: 4px;
  }
  #marquee-container{
    margin:auto;
    padding: 0px;
    width:calc(100% - 6px);    
  }

  .employee {
    width:calc(100% - 56px);
    padding: 4px 0px 10px 50px;
    text-align: left;
    margin-right: 0px;
  }

  p {
    margin: 0;
  }
  nav{    
    margin:auto;
    padding: 0px 10px 0px 0px;
  }
</style>
<div id="controlPanel">
  Control Panel
  <app-control-panel></app-control-panel>
</div>
<nav>
  <a routerLink="/departments" routerLinkActive="active">Departments</a>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink ="/employees" routerLinkActive="active">Employess</a>  
</nav>

<!-- <div class = "employee" id="employeeList">
  <employee-list>employee list</employee-list>
</div>

<div class = "employee" id="employeeDetails">
  <employee-detail>employee details </employee-detail>
</div>

<div id="test">
  <h1>
    {{title}}
  </h1>
  <h2 style="font-size: 1.20em; font-weight: 400;">
    {{message}}
  </h2>
  <app-test (childEvent)="message=$event" [parentData]="name"></app-test>
</div>

<div id="marquee-container">
  <app-marquee></app-marquee>
</div> -->

<!-- <div style="font-size: 1.8em; height: auto; padding: 0px 10px 0px 10px;">
<marquee direction="left" scrolldelay="200" behavior="loop">ControlPointWeb scroll</marquee>
</div> -->
<router-outlet></router-outlet>